/* Styles pour la table */
.p-table {
  font-size: 12px;
}
nav.p-menubar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f8f9fa; /* Couleur de fond */
}

nav.p-menubar ul li {
  padding: 10px 20px;
}

nav.p-menubar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav.p-menubar ul li a:hover {
  color: #007bff; /* Couleur au survol */
}

.p-table td, .p-table th {
  padding: 4px 8px;
}

/* Styles pour les boutons */
.p-button {
  padding: 4px 8px;
  font-size: 12px;
}

/* Styles pour le paginateur */
.p-paginator {
  padding: 4px;
}

/* Styles pour les lignes de la table */
.p-table .p-datatable-tbody > tr {
  height: 30px;
}

/* Styles pour les filtres */
.p-column-filter {
  width: 100%;
  font-size: 12px;
}
